<div class="container" style="background-color: #ff3d3d; border: solid gray 3px;">
    <div class="row" >
        <div class="col-md-12" >
            <div style="padding: 40px 15px; text-align: center;">
                <h1 >
                    ¡Oops!</h1>
                <h2 >
                    Error 404</h2>
                <div style="padding-top: 15px; padding-bottom: 15px;">
                    Ocurrió un error, ¡esta página no existe!
                </div>
                <div>
                    <a (click)=backHome(); class="btn btn-primary btn-lg" > Regresar a Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
