<div class="container" style="background-color: #f5d376; box-shadow: 5px 5px 0 0 gray;">
    <div class="row" >
        <div class="col-md-12" >
            <div style="padding: 40px 15px; text-align: center;">
                <h1 class="display1"> Práctica Integradora de Angular</h1>
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="" srcset="" height="600" width="600">
                </div>
                <div>
                    <h5 class="text-secondary" style="padding-top: 15px;"> Omar Pérez Cano</h5>
                </div>
            </div>
        </div>
    </div>
</div>